---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout
  title="Home - Gea Sustentable"
  description="Gea Sustentable -Un servicio integral para grandes generadores de residuos. "
>
  <main>
    <Nav />
  </main>
</Layout>
