<section class="text-celeste">
  <h1
    class="text-center py-16 text-2xl tracking-tighter md:text-3xl lg:text-4xl"
  >
    Beneficios ambientales
  </h1>
  <article class="md:grid md:grid-cols-2 xl:grid-cols-4 [&>div>h2]:px-3">
    <div class="relative w-full">
      <img class="w-full h-full" src="/beneficio1.webp" alt="" />
      <h2 class="absolute inset-0 flex items-center justify-center">
        3.041 ton de CO2 compensados
      </h2>
    </div>
    <div class="relative">
      <img class="w-full h-full" src="/beneficio2.webp" alt="" />
      <h2 class="absolute inset-0 flex items-center justify-center text-white">
        94.729.581 lts de agua no gastados
      </h2>
    </div>
    <div class="relative h-[352px] bg-amarillo text-center lg:max-xl:h-[460px]">
      <h2 class="absolute inset-0 flex items-center justify-center">
        14.384.862 kwh no consumidos
      </h2>
    </div>
    <div class="relative">
      <img class="w-full h-full" src="/beneficio4.webp" alt="" />
      <h2
        class="absolute inset-0 flex items-center justify-center text-white text-center"
      >
        16.781 m3 en relleno sanitario no utilizados
      </h2>
    </div>
    <div class="relative h-[352px] bg-white"></div>
    <div class="relative">
      <img class="w-full h-full" src="/beneficio6.webp" alt="" />
      <h2 class="absolute inset-0 flex items-center justify-center text-white">
        18.639 m3 de biogás generado
      </h2>
    </div>
    <div class="relative h-[352px] bg-celeste lg:max-xl:h-[460px]">
      <h2 class="absolute inset-0 flex items-center justify-center text-white">
        228.917 kilos de petróleo ahorrado
      </h2>
    </div>
    <div class="relative">
      <img class="w-full h-full" src="/beneficio8.webp" alt="" />
      <img class="absolute inset-0 m-auto" src="/icon_beneficio8.webp" alt="" />
    </div>
  </article>
</section>
