<header>
  <nav class="h-20 px-8 flex mx-auto items-center md:justify-center w-full">
    <input type="checkbox" id="menu" class="peer hidden" />
    <label
      for="menu"
      class="bg-abrir-menu size-8 bg-cover bg-center cursor-pointer peer-checked:bg-cerrar-menu transition-all duration-200 z-40 md:hidden"
    ></label>
    <div
      class="fixed inset-0 bg-gradient-to-b from-amarillo/70 to-celeste translate-x-full peer-checked:translate-x-0 transition-transform md:static md:translate-x-0 md:bg-none"
    >
      <ul
        class="absolute inset-x-0 w-full h-max grid gap-5 mx-auto p-10 text-center bg-celeste text-amarillo font-bold shadow-2xl md:w-max md:p-0 md:grid-flow-col md:static md:bg-transparent md:shadow-none md:text-black z-50"
      >
        <li><a href="">Home</a></li>
        <li><a href="">Nosotros</a></li>
        <li><a href="">Qué hacemos</a></li>
        <li><a href="">Clientes</a></li>
        <li><a href="">Buena Madera</a></li>
        <li><a href="">Cursos</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </nav>
</header>
