<header>
  <nav
    class="h-20 px-8 flex mx-auto w-full justify-end items-center fixed md:justify-center md:mt-5 md:gap-x-10 z-40"
  >
    <input type="checkbox" id="menu" class="peer hidden" />
    <label
      for="menu"
      class="flex justify-end bg-abrir-menu size-9 bg-cover bg-center cursor-pointer peer-checked:bg-cerrar-menu transition-all duration-200 z-40 md:hidden"
    ></label>
    <img
      id="logo"
      class="size-20 hidden md:block lg:size-24"
      src="./logo.webp"
      alt=""
    />
    <div
      class="fixed inset-0 translate-x-full peer-checked:translate-x-0 transition-transform md:static md:translate-x-0 md:bg-none"
    >
      <ul
        id="nav"
        class="absolute inset-x-0 w-full h-max grid gap-1 mx-auto pt-20 p-10 text-start bg-celeste text-amarillo text-lg font-bold shadow-2xl md:w-max md:p-0 md:grid-flow-col md:static md:bg-transparent md:shadow-none md:text-black md:max-lg:text-sm md:gap-x-6 z-50 [&>li>a]:duration-300"
      >
        <li><a class="text-white md:text-celeste" href="">Home</a></li>
        <li>
          <a
            class="hover:text-white md:hover:text-celeste"
            href="https://geasustentable.com.ar/nosotros/"
            target="_blank"
            rel="noopener noreferrer">Nosotros</a
          >
        </li>
        <li>
          <a
            class="hover:text-white md:hover:text-celeste"
            href="https://geasustentable.com.ar/que-hacemos/"
            target="_blank"
            rel="noopener noreferrer">Qué hacemos</a
          >
        </li>
        <li>
          <a
            class="hover:text-white md:hover:text-celeste"
            href="https://geasustentable.com.ar/clientes/"
            target="_blank"
            rel="noopener noreferrer">Clientes</a
          >
        </li>
        <li>
          <a
            class="hover:text-white md:hover:text-celeste"
            href="https://www.geabuenamadera.com/"
            target="_blank"
            rel="noopener noreferrer">Buena Madera</a
          >
        </li>
        <li>
          <a
            class="hover:text-white md:hover:text-celeste"
            href="https://geacursos.wisboo.com/home"
            target="_blank"
            rel="noopener noreferrer">Cursos</a
          >
        </li>
        <li>
          <a
            class="hover:text-white md:hover:text-celeste"
            href="https://geasustentable.com.ar/contactanos/"
            target="_blank"
            rel="noopener noreferrer">Contacto</a
          >
        </li>
        <div>
          <p class="[&>a]:px-3 md:hidden">
            Reportes de Sustentabilidad: <br />
            <a
              href="/pdf/reporte_2021.pdf"
              target="_blank"
              rel="noopener noreferrer "
              class="border-2 border-black hover:text-white">2021</a
            >
            <a
              href="/pdf/reporte_2020.pdf"
              target="_blank"
              rel="noopener noreferrer "
              class="border-2 border-black hover:text-white">2020</a
            >
            <a
              href="/pdf/reporte_2019.pdf"
              target="_blank"
              rel="noopener noreferrer "
              class="border-2 border-black hover:text-white">2019</a
            >
            <a
              href="/pdf/reporte_2018.pdf"
              target="_blank"
              rel="noopener noreferrer "
              class="border-2 border-black hover:text-white">2018</a
            >
            <a
              href="/pdf/reporte_2017.pdf"
              target="_blank"
              rel="noopener noreferrer "
              class="border-2 border-black hover:text-white">2017</a
            >
          </p>
        </div>
        <div class="md:hidden">
          <ul class="flex pt-10 gap-x-2">
            <li>
              <a
                href="https://www.facebook.com/geasustentable/"
                target="_blank"
                rel="noopener noreferrer"
                ><img src="./mobile/fb_mobile.png" alt="" /></a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/gea-sustentable/"
                target="_blank"
                rel="noopener noreferrer"
                ><img src="./mobile/in_mobile.png" alt="" /></a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/geasustentable/"
                target="_blank"
                rel="noopener noreferrer"
                ><img src="./mobile/ig_mobile.png" alt="" /></a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UCIJIhopzRToi0X_kDJuI2SQ?view_as=subscriber"
                target="_blank"
                rel="noopener noreferrer"
                ><img src="./mobile/yt_mobile.png" alt="" /></a
              >
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </nav>
</header>

<style>
  #logo {
    animation: hidden-logo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
  }
  #nav {
    animation: enhance-nav linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
  }
  @keyframes enhance-nav {
    to {
      align-items: center;
      height: 35px;
      background-color: rgba(232, 227, 60, 0.6);
      backdrop-filter: blur(5px);
      font-size: 16px;
      margin-bottom: 30px;
      margin-right: 80px;
      border-radius: 5px;
      padding-inline: 10px;
    }
  }
  @keyframes hidden-logo {
    to {
      opacity: 0;
    }
  }
</style>
<script>
  function ajustarNav() {
    const nav = document.getElementById("nav");

    if (window.innerWidth < 766) {
      if (nav.getAttribute("id") !== null) {
        nav.removeAttribute("id");
      }
    } else {
      if (nav.getAttribute("id") === null) {
        nav.setAttribute("id", "nav");
      }
    }
  }

  // Llama a la función inicialmente para ajustar el estado según el tamaño de la ventana al cargar la página
  ajustarNav();

  // Agrega un event listener para el evento resize
  window.addEventListener("resize", function () {
    ajustarNav();
  });
</script>
