<section class="p-3 text-center">
  <h2 class="py-12 text-celeste text-2xl">
    Un servicio integral para grandes generadores de residuos.
  </h2>
  <p class="text-pretty text-lg">
    Ofrecemos un servicio integral de gestión, recolección, clasificación y
    tratamiento de residuos <span class="text-celeste text-xl"
      >reciclables, orgánicos y especiales</span
    > para grandes generadores de residuos.
  </p>
  <figure class="w-60 mx-auto py-12 space-y-12">
    <img src="/reciclables-b.webp" alt="" />
    <img src="/organicos-b.webp" alt="" />

    <button class="bg-amarillo flex p-2 pl-5" data-id="abrir-modal">
      <img class="size-20" src="/svg/especiales.svg" alt="" />
      <figcaption class="text-celeste m-auto">
        Especiales <br />
        <span class="font-gothamlight text-lg"> ver más</span>
      </figcaption>
    </button>
  </figure>
</section>

<div class="w-full my-40 border-2 border-black">
  <div class="flex bg-amarillo">
    <img class="size-6" src="/svg/especiales.svg" alt="" />
    <h3>Especiales</h3>
  </div>
  <p class="font-gothamlight p-10 space-y-20">
    > Recolección, envío a planta de tratamiento y disposición final de tóner,
    baterías y RAEEs. <br />
    > Entrega de certificado de recuperación y disposición final.
  </p>
</div>
