---
import Badge from "../components/icons/Badge.astro";
import X from "../components/icons/X.astro";
---

<section class="px-10 text-center lg:flex lg:items-center lg:justify-evenly">
  <div class="lg:w-1/3">
    <h2 class="py-12 text-celeste text-3xl xl:text-4xl 2xl:text-5xl">
      Un servicio integral para grandes generadores de residuos.
    </h2>
    <p class="text-pretty text-lg xl:text-xl 2xl:text-2xl">
      Ofrecemos un servicio integral de gestión, recolección, clasificación y
      tratamiento de residuos <span class="text-celeste text-xl"
        >reciclables, orgánicos y especiales</span
      > para grandes generadores de residuos.
    </p>
  </div>
  <div class="py-6 space-y-10 lg:mt-16">
    <div
      class="[&>a]:transition [&>a]:duration-1000 [&>a]:my-10 [&>a]:flex [&>a]:mx-auto [&>a]:size-60 lg:[&>a]:size-44 lg:flex lg:space-x-20 2xl:[&>a]:size-60"
    >
      <a
        href="https://geasustentable.com.ar/reciclables/#reciclables"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          onmouseout="this.src='/reciclables-b.webp';"
          onmouseover="this.src='/reciclables-a.webp';"
          src="/reciclables-b.webp"
          alt=""
        /></a
      >
      <a
        href="https://geasustentable.com.ar/organicos"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          onmouseout="this.src='/organicos-b.webp';"
          onmouseover="this.src='/organicos-a.webp';"
          src="/organicos-b.webp"
          alt=""
        /></a
      >
    </div>
    <button
      onclick="window.modal.showModal();"
      class="w-[300px] bg-amarillo flex p-2 pl-5 mx-auto hover:brightness-95 duration-300 hover:ease-in-out"
      data-id="abrir-modal"
    >
      <img class="size-20" src="/svg/especiales.svg" alt="" />
      <p class="text-celeste m-auto">
        Especiales <br />
        <span class="font-gothamlight text-lg"> ver más</span>
      </p>
    </button>
  </div>

  <dialog id="modal" class="w-[660px] border border-stone-300">
    <div
      class="flex bg-amarillo text-celeste text-lg items-center px-2 py-1 space-x-2"
    >
      <img class="size-7 md:size-9" src="/svg/especiales.svg" alt="" />
      <h3 class="text-lg md:text-2xl">Especiales</h3>
      <button class="absolute right-2" onclick="window.modal.close()">
        <X class="md:size-5" />
      </button>
    </div>
    <div
      class="py-8 px-5 [&>p]:flex [&>p]:font-gothamlight [&>p]:md:text-xl w-full text-start"
    >
      <p>
        <Badge class="min-w-5" />
        Recolección, envío a planta de tratamiento y disposición final de tóner,
        baterías y RAEEs.
      </p>
      <p>
        <Badge class="min-w-5 max-w-5" />
        Entrega de certificado de recuperación y disposición final.
      </p>
    </div>
  </dialog>
</section>

<style>
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
</style>
